SUPABASE_URL=https://ctmzcbtzvqmpfyanspbe.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0bXpjYnR6dnFtcGZ5YW5zcGJlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjAxMDUyNCwiZXhwIjoyMDg3NTg2NTI0fQ.4NMkvNP4esQKkLpusFARknm1v9DkGxUnrylAKC51Y9A